.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-header {
    animation: header-logo-spin infinite 30s linear;
  }
}

.App-header {
  background-color: #282c34;
  margin-top: 40vh;
  margin-left: 40vh;
  max-width: 30vw;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes header-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
